body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    position: relative;

    margin: 0 0 0 15px;
    color: white;
    text-decoration: none;

    transition: 0.2s;
}

.header-inner {
    align-items: center;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-link:hover {
    color: #fce38a;
}

.nav-link:after {

    content: '';
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: 0.2s;
}

.nav-link:hover:after {
    display: block;
    opacity: 1;
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("./images/background-img_01.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro-suptitle {
    margin-bottom: 15px;
    text-align: center;
    font-size: 72px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.intro-title {
    color: white;
    font-size: 150px;
    text-align: center;
    line-height: 140px;
}

.intro-title:after {
    content: '';
    height: 3px;
    width: 60px;
    display: block;
    background-color: white;
    margin: 60px auto 0 auto;
}


.learn-more-btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;

    border: 3px solid white;

    transition: color .3s, background-color .5s;
}

.learn-more-btn:hover {
    color: #edcb89;
    background-color: #fff;
}

.story-about-us {
    text-align: center;
    padding: 90px 0 110px 0;
    background-color: white;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.story-about-us h3 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.story-about-us h2 {
    margin-top: 15px;
    font-size: 30px;
}

.story-about-us h2:after {
    content: '';
    height: 3px;
    width: 60px;
    display: block;
    background-color: #f38181;
    margin: 30px auto;
}

.story-about-us p {
    font-size: 15px;
    color: #999999;
}

.about-imgs {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}


.about-item {
    width: 30%;
    background-color: #95e1d3;
    position: relative;
}

.about-img {
    top: 0;
    left: 0;
    text-align: -webkit-center;
    background: linear-gradient(to bottom, #fce38a, #f38181);

    transition: transform .3s;
}

.about-item:hover .about-img {
    transform: translate3d(-10px, -10px, 0);
}

.about-item:hover .about-img img{
    opacity: .3;
    top: -10px;
    left: -10px;
}

.about-img img {
    width: 100%;
    display: block;
    transition: opacity .5s;
}

.about-item:hover .about-text {
    opacity: 1;
}

.about-text {
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 38%;
    left: -4%;
    z-index: 2;
    transform: translate3d(0, 50%, 0);

    transition: opacity .5s;
}



















